@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');

:root {
  --hoverColor: #c50215;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 18px;
  overflow-x: hidden;
}



/*  HEADER START  */

header {
  position: relative;
}

.container {
  max-width: 1600px;
  width: 100%;
  margin: auto;
}

.bgimg img{
  margin-top: 80px;
}

.bgimg img,
.product-img img {
  width: 100%;
  height: auto;
}

.navbar {
  background: black;
}

.navbar .navbar-icons {
  font-size: 1.3em;
}

.navbar .navbar-brand .brand {
    max-width: 140px;
}

.search {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  padding: 7px;
  margin-right: 20px;
  position: relative;
  width: 225px;
}

.search button {
  position: absolute;
  right: 10px;
  color: white;
  background: none;
  bordeR: none;
}

input[type="search"] {
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  color: #fff;
}

input[type="search"]::placeholder {
color: white;
}

.heading {
  position: absolute;
  left: 40%;
  top: 45%;
  color: white;
}

.heading h1 {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 10px;
  letter-spacing: 3px;
}

.heading p {
  font-size: 1em;
  font-weight: 100;
}


/*  HEADER END  */


/*  ASIDE CONTENT START */

.aside-content h4 {
  font-weight: bold;
}

.aside-content .categories .nav .nav-link {
 text-decoration: none;
 padding: 10px 0;
 color: black;
 transition: color .5s ease;
 display: inline-block;
}

.aside-content .categories .nav .nav-link:hover {
  color: var(--hoverColor);
 }


.aside-content .price-filter .btn {
  font-size: 16px;
  color: grey;
  padding: 12px 32px;
}

.aside-content .price-filter .btn:hover {
  color: white;
}

/*  CUSTOM RANGE STYLE START  */

input[type=range] {
  height: 28px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  /* animate: 0.2s; */
  box-shadow: 0px 0px 3px #000000;
  background: #E33939;
  border-radius: 0px;
  border: 0px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 3px #000000;
  border: 4px solid #E3103A;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #E33939;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  /* animate: 0.2s; */
  box-shadow: 0px 0px 3px #000000;
  background: #E33939;
  border-radius: 0px;
  border: 0px solid #000000;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 3px #000000;
  border: 4px solid #E3103A;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #FFFFFF;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  /* animate: 0.2s; */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #E33939;
  border: 0px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 3px #000000;
}

input[type=range]::-ms-fill-upper {
  background: #E33939;
  border: 0px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 3px #000000;
}

input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 3px #000000;
  border: 4px solid #E3103A;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #FFFFFF;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #E33939;
}

input[type=range]:focus::-ms-fill-upper {
  background: #E33939;
}

/*     CUSTOM RANGE STYLE END         */

.aside-content .price-filter .price-range {
  display: inline-block;
  width: 60%;
  text-align: right;
}

.aside-content .price-filter .price-number {
  font-weight: bold;
  font-size: 1.3vw;
}

.aside-content .color-filter .colors,
.aside-content .size-filter .sizes,
.aside-content .product-tags .tags {
  width: 100%;
  height: auto;
}

.aside-content .color-filter .colors div{
  width: 45px;
  height: 45px;
  background: black;
  border-radius: 50%;
  border: 2px solid #ebebeb;
  margin: 5px 8px 5px 0;
  cursor: pointer;
}

.aside-content .color-filter .colors div:hover{
  border: 4px solid crimson;
}

.aside-content .size-filter .sizes button {
  width: 70px;
  height: 70px;
  color: #666;
  margin: 0 2px 2px 0;
  border: 2px solid #ebebeb;
  text-align: center;
  line-height: 4;
  transition: color .4s ease;
  cursor: pointer;
}

.aside-content .size-filter .sizes button:hover {
  color: var(--hoverColor);
  background: none;
}

.aside-content .product-tags .tags span {
  font-size: 14px;
  background: #ebebeb;
  margin:  0 .5em .5em 0;
  padding: 15px 20px;
}


/*  ASIDE CONTENT END  */


/*  PRODUCTS CONTENT START */

.section-content .sort-select {
  background: #ebebeb;
  border-radius: 30px;
  padding: 7px;
  margin: 0;
}

.section-content .sort-select select {
  border: none;
  background: none;
}

.section-content .change-view-icons i {
  padding: 1.2em;
  color: white;
  background: var(--hoverColor);
  margin-left: 10px;
  font-size: 16px;
}

.section-content .change-view-icons i:last-child {
  background: #ebebeb;
  color: black;
}

.section-content .hidden-icons {
  display: none;
  position: absolute;
  top: 23%;
  left: 13%;
  width: 80%;
  color: #b4b4b4;
  cursor: pointer;
}

.section-content .hidden-icons div {
  display: inline-block;
  background: #fff;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 1.2em;
  text-align: center;
  transition: color .3s ease;
}

.section-content .hidden-icons div:hover {
  color: var(--hoverColor);
}

.section-content .hidden-icons .shop-btn {
  width: 120px;
}

.section-content .shoe-container:hover .hidden-icons {
  display: flex;
  flex-direction: row;
}

.section-content .product-info .slider-content {
  display: none;
  overflow: hidden;
  text-align: center;
}

.section-content .product-info .slider-content img {
  width: 31.9%;
}

.section-content .shoe-container:hover .slider-content{
  display: block;
}

.section-content .product-info h4 {
  font-size: 1.2em;
  font-weight: bold;
}

.section-content .product-info span {
  color: var(--hoverColor);
  font-weight: bold;
}


/*  PRODUCTS CONETNT END */



/*  FOOTER START */

.jumbotron {
  background: #222;
}

.footer-content .nav h4 {
  color: white;
}

.footer-content .nav .nav-link {
  padding-left: 0;
  color: #aaa;
  text-decoration: none;
  font-size: 16px;
}

.footer-content + .footer-content .nav .nav-link {
  transition: transform, color, .4s ease;
  display: inline-block;
}

.footer-content + .footer-content .nav .nav-link:hover {
  color: var(--hoverColor);
  transform: translateX(10px);
}

.footer-content .nav:first-child .nav-item:last-child i {
  font-size: 1.5em;
  padding: 5px;
}

.dark-footer {
  background: #111;
  color: #aaa;
}

.dark-footer .nav .nav-link{
  color: #aaa;
  padding: 8px 8px;
  margin: 0 5px;
  transition: color .3s ease-in; 
}

.dark-footer .nav .nav-link:hover{
  color: var(--hoverColor);
}

/*  FOOTER END   */


/* FOR TABLET SCREEN SIZES */


/* FOR DESKTOP SCREEN SIZES */

@media screen and (min-width: 992px) {
  .navbar-brand {
    width: 15%;
  }
  
  .navbar i {
    margin-left: 15px;
    }
    
    .navbar {
      background: none;
      transition: background .3s ease;
    }
    
    .heading h1 {
      font-size: 3.5em;
    }
    .heading p {
      font-size: 1.5em;
    }
    
    .scrolled {
      background: rgba(0, 0, 0, 0.85)
    }
    
    .bgimg img{
      margin-top: 0;
    }
    .heading {
      left: 45%;
      top: 40%;
    }
  }
  
  @media screen and (min-width: 768px) {
    .heading {
      left: 45%;
    }
  }

/* navbar adjustment */
@media screen and (max-width: 1036px) and (min-width: 992px) {

    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 0;
    }
}

@media screen and (max-width: 576px) {
  .section-content .hidden-icons {
    top: 30%;
    left: 25%;
  }
}